<form>
    <br> <button mat-raised-button routerLink="/account" class="back-button">
        <mat-icon>
        arrow_back
        </mat-icon>Back To Profile</button><br><br>
    <mat-form-field>
        <mat-label>Username</mat-label>
        <input matInput id="username" type="text" [(ngModel)]="username" name="username">
    </mat-form-field><br>
    <mat-form-field>
        <mat-label>Country</mat-label>
        <input matInput id="country" type="text" [(ngModel)]="country" name="country">
    </mat-form-field><br>
    <mat-form-field>
        <mat-label>Password: </mat-label>
        <input matInput ="password" type="password" [(ngModel)]="password" name="password">
    </mat-form-field>
    <br>
    <br>
    <button mat-raised-button color="primary" routerLink="/account" (click)="saveAccountInfo()">UPDATE INFO</button>
</form>