.theme-title {
    cursor: pointer;
}

.theme-info-div {
    display: flex;
    flex-direction: column;
}

.books-div {
    display: flex;
    flex-direction: row;
}

.theme-dropdown-div {
    padding: 15px;
    display: flex;
    flex-direction: row;
    height: 100%;
    width: fit-content;
}

.theme-dropdown-div h2 {
    display: block;
    color: floralwhite;
    padding: 10px;
    // text-shadow: black 1px 1px 10px;
}

.theme-dropdown-div h2:hover {
    background-color: rgba(34, 2, 2, 0.397);
    width: fit-content;
}

.theme-items {
    display: flex;
    flex-direction: column;
}

.start-button{
    margin-top: 30px;
    width: fit-content;
}

.theme-info-div label{
    color: floralwhite;
    padding-left: 10px;

}