<div class="theme-dropdown-div" style="background-image: url({{theme.imagePath}}); background-size: cover;">
    <div class="theme-info-div">
        <h2 (click)="themeDropdown($event)">{{theme.title}}</h2>
        <label *ngIf="isDropdownOpen"> {{theme.description}}</label>
        <button class="start-button" *ngIf="isDropdownOpen" (click)="startJourney(theme)">START JOURNEY NOW</button>
    </div>
    <div class="books-div">
        <ng-container *ngIf="isDropdownOpen" >
            <app-book-list [theme]="theme" [books]="theme.books"></app-book-list>
        </ng-container>
    </div>
</div>