<div class="menu-bar">
  <mat-toolbar>
    <nav>
      <ul>
        <li>
          <mat-icon style="font-size: 30px;" color="accent">menu</mat-icon>
        </li>
        <li><a routerLink="/themes">
          <button mat-raised-button color="accent">
            Browse All Journeys
            <mat-icon color="wheat">home</mat-icon>
          </button>
        </a></li>
        <li><a routerLink="/account">
          <button mat-raised-button color="accent">
            Account
            <mat-icon>account_box</mat-icon>
          </button>
        </a></li>
        <li><a routerLink="/signup">
          <button mat-raised-button color="accent">
            Sign Up    
            <mat-icon>login</mat-icon>
          </button>
        </a></li>
        <li><a (click)="logOut()">
          <button mat-raised-button color="accent">
            Log Out
            <mat-icon>logout</mat-icon>
          </button>
        </a></li>
      </ul>
    </nav>
  </mat-toolbar>
</div>

<div class="content">
  <router-outlet></router-outlet>
</div>
