
    <!-- <span class="star" *ngFor="let star of stars"> -->
        <div class="stars-div">
            <div data-value="1" (click)="rate(5)"><mat-icon class="star">
                star
            </mat-icon></div>
            <div data-value="2" (click)="rate(4)"><mat-icon class="star">
                star
            </mat-icon></div>
            <div data-value="3" (click)="rate(3)"><mat-icon class="star">
                star
            </mat-icon></div>
            <div data-value="4" (click)="rate(2)"><mat-icon class="star">
                star
            </mat-icon></div>
            <div data-value="5" (click)="rate(1)"><mat-icon class="star">
                star
            </mat-icon></div>
        </div>
        <div class="comment-div">
            <mat-form-field color="warn">
                <mat-label>Leave a comment here</mat-label>
                <input matInput>
            </mat-form-field>
        </div>
    <!-- </span> -->

