
    <!-- <span class="star" *ngFor="let star of stars"> -->
        <div class="stars-div">
            <div class="star" data-value="1" (click)="rate(5)">&#9733;</div>
            <div class="star" data-value="2" (click)="rate(4)">&#9733;</div>
            <div class="star" data-value="3" (click)="rate(3)">&#9733;</div>
            <div class="star" data-value="4" (click)="rate(2)">&#9733;</div>
            <div class="star" data-value="5" (click)="rate(1)">&#9733;</div>
        </div>    
    <!-- </span> -->

