<div class="account-div">
    <div class="account-info-div">
        <h2>PERSONAL INFORMATION</h2>
        <h3>Username: {{username}}</h3>
        <h3>Country/Region: {{country}}</h3>
        <button routerLink="/account/update">Update Account Information</button>
    </div>
    <br>
    
    <div class="current-journey-div" *ngIf="currentJourney">
        <h2>CURRENTLY READING</h2>
        <h2>{{currentJourney.title}}</h2>
        <mat-progress-bar class="mat-warn" mode="determinate" value="{{ (completedBooksNumber / currentJourney.books.length)*100}}">
        </mat-progress-bar>

        <div class="books-list-div">
            <ul class="book-div" *ngFor="let book of currentJourney.books">
                <app-book [book] = "book" > </app-book>
                <button (click)="completeBook(book)">COMPLETED</button>
            </ul>
        </div>
        <!-- <app-book-list [books]="currentJourney.books"></app-book-list> -->
    </div>
    <br>
</div>

<!-- <h2>Completed Journeys</h2>
<div class="completed-journeys-div" *ngFor="let theme of completedJourneys">
    <app-book-list [theme]="theme" [books]="theme.books"></app-book-list>
</div> -->