<div class="account-div" *ngIf="user$ | async">

    <div class="account-info-div" *ngIf="user">
        <h2>PERSONAL INFORMATION</h2>
        <h3>Username: {{ user.username }}</h3>
        <h3>Country/Region: {{ user.country }}</h3>
        <button routerLink="/account/update">Update Account Information</button>
        <br><br><br><br>
        <div>
            <h2>COMPLETED JOURNEYS </h2>
            <div *ngFor="let theme of completedJourney$ | async">
                
                    <app-theme [theme]="theme"></app-theme>
                
            </div>
        </div>
    </div>
    <br>
    
    <div class="current-journey-div" *ngIf="currentJourney && currentJourney.id != -1; else noJourney">
        <h2>CURRENTLY READING</h2>
        <h2>{{currentJourney.title}}</h2>
        
        <mat-progress-bar class="mat-warn" mode="determinate" value="{{ (completedBooksNumber / currentJourney.books.length)*100}}">
        </mat-progress-bar>
        
        <div class="books-list-div">
            
            <ul class="book-div" *ngFor="let book of currentJourney.books">
                <app-book [book] = "book" > </app-book>
                <button (click)="completeBook(book)">COMPLETED</button>
            </ul>
        </div>
        <!-- <app-book-list [books]="currentJourney.books"></app-book-list> -->
    </div>

    <ng-template #noJourney>
        
    </ng-template>

    <h2 *ngIf="this.journeyCompleted" routerLink="/themes" style="margin: 35px;">YOU COMPLETED THIS JOURNEY! CLICK TO FIND NEW THEME.</h2>
    <br>
</div>

<br>
<br>