button {
    background-color: wheat;
}

.account-div {
    display: flex;
    flex-direction: row;
}

.account-info-div {
    margin: 20px;
}

.current-journey-div {
    margin: 20px;
    margin-left: 50px;
    width: fit-content;
    align-items: center;
}

.mat-warn {
    margin-top: 10px;
}

.books-list-div {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: fit-content;
}

.completed-journeys-div {
    margin: 20px;
}