<div class="account-info">
    <h2>Personal Information</h2>
    <h3>Username: {{user!.username}}</h3>
    <h3>Country/Region: {{user!.country}}</h3>
    <button routerLink="/account/update">Update Account Information</button>
</div>
<br>

<div class="current-journeys-div">
    <h2>Currently Reading</h2>
    <app-themes></app-themes>
    <mat-progress-bar class="mat-warn" mode="determinate" value="{{ (finishedBooks.length/(currentJourney$ | async)!.books.length)*100 }}">
    </mat-progress-bar>
</div>
<br>

<h2>Completed Journeys</h2>
<div class="completed-journeys-div" *ngFor="let theme of completedJourney$ | async">
    <app-book-list [theme]="theme" [books]="theme.books"></app-book-list>
</div>